* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}

h2{
    font-size: 3rem;
    position: absolute;
    top: 125px;
    text-decoration: underline; 
}
